.pink {
    height: 20px;
    background-color: #d84580;
}

.gold {
    height: 20px;
    background-color: #e0bd2a;
}

.blue {
    height: 20px;
    background-color: #211d80;
}

.content {
    text-align: center;
    background-color: #211d80;
    color: white;

    p { margin: 0; }
}