@import "../../variables.scss";

footer {
    text-align: center;
    background-color: $primary;
    color: white;

    p { margin: 0; }

    .pink {
        background-color: $tertiary;
    }
    
    .gold {
        background-color: $secondary;
    }
    
    .blue {
        background-color: $primary;
    }
}