@import "../../variables.scss";

.pink {
    height: 20px;
    background-color: $tertiary;
}

.gold {
    height: 20px;
    background-color: $secondary;
}

.blue {
    height: 20px;
    background-color: $primary;
}

.content {
    text-align: center;
    background-color: $primary;
    color: white;

    p { margin: 0; }
}