<!-- <div class="container">
    <div class="pink"></div>
    <div class="gold"></div>
</div> -->

<div class="about">
    <h2>About me</h2>
    <p>
        I'm Will Stewart, a Full Stack Software Engineer from Perth, Western Australia. I'm passionate about the modern web and where it can take us.
    </p>

    <p>
        I have experience working with Angular, Ionic, Node and Typescript to name a few. I have a strong computing background with a Bachelor of Science (BSc) focused on Software Engineering from Curtin University.
    </p>

    <p>
        I also bring experience working in front line IT support, having previously performed that role for three years.
    </p>
</div>