.about {
    padding: 25px 0px;
    max-width: 900px;
    margin: auto;

    h2 {
        color: black;

        @supports (text-decoration-thickness: 5px) {
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-color: #e0bd2a;
            text-decoration-thickness: 5px;
        }

        @supports not (text-decoration-thickness: 5px) {
            display: inline-block;
            border-bottom: solid 5px #e0bd2a;
        }
    }
}

// .container {
//     display: flex;

//     .pink {
//         background-color: #e24781;
//         height: 35px;
//         flex: 1.4;
//     }

//     .gold {
//         background-color: #e9ba2e;
//         height: 35px;
//         flex: 1;
//     }
// }