.about {
    padding: 25px 0px;
    max-width: 900px;
    margin: auto;

    h2 {
        color: black;
        text-decoration: underline solid 5px #e9ba2e;
    }
}

// .container {
//     display: flex;

//     .pink {
//         background-color: #e24781;
//         height: 35px;
//         flex: 1.4;
//     }

//     .gold {
//         background-color: #e9ba2e;
//         height: 35px;
//         flex: 1;
//     }
// }