<section id="hero">
    <div class="left">
        <div class="overflow-text">
            <h1>Hello,</h1>
            <h1>I'm Will</h1>
            <h2>I'm a Software Engineer</h2>
            <h2>From Perth, Western Australia.</h2>
        </div>
    </div>
    <div class="right">
        <div class="waves">
            <img src="/assets/wave.svg" alt="">
        </div>

        <img class="photo" src="/assets/will/will_1400.png" alt="A picture of Will smiling"
                srcset="
                /assets/will/will_1400.png 1400w,
                /assets/will/will_1075.png 1075w,
                /assets/will/will_480.png 480w"
        >
    </div>
</section>