<section id="hero">
    <div class="left-third">
        <div class="overflow-text">
            <h1><span class="highlight">Hello,</span></h1>
            <h1><span class="highlight">I'm Will Stewart</span></h1>
            <h2><span class="highlight">I'm a Software Engineer</span></h2>
            <h2><span class="highlight">From Perth, Western Australia.</span></h2>
        </div>
    </div>
    <div class="right-two-thirds">
        <img src="/assets/will.jpg" alt="A photo of Will smiling">
    </div>
</section>