<section id="hero">
    <div class="left">
        <div class="overflow-text">
            <h1>Hello, <br> I'm Will</h1>
            <h2>I'm a Software Engineer <br> From Perth, Western Australia.</h2>
        </div>
    </div>
    <div class="right">
        <div class="waves">
            <img src="/assets/wave.svg" alt="">
        </div>

        <picture>
            <source
                srcset="
                    /assets/will/will_1400.webp 1400w,
                    /assets/will/will_1075.webp 1075w,
                    /assets/will/will_905.webp 905w,
                    /assets/will/will_813.webp 813w,
                    /assets/will/will_650.webp 650w,
                    /assets/will/will_480.webp 480w"
                type="image/webp"
            >
            <source
                srcset="
                    /assets/will/will_1400.png 1400w,
                    /assets/will/will_1075.png 1075w,
                    /assets/will/will_905.png 905w,
                    /assets/will/will_813.png 813w,
                    /assets/will/will_650.png 650w,
                    /assets/will/will_480.png 480w"
                type="image/png"
            >
            <img src="/assets/will/will_1400.png" alt="">
        </picture>
    </div>
</section>