<li class="timeline-entry" [ngClass]="theme">
    <div class="title">
        <img [src]="data.logo" alt="" loading="lazy">
        <h3>{{data.title}}</h3>
        <p *ngIf="data.event">{{data.start | date:'MMM yyy'}}</p>
        <p *ngIf="!data.event && !data.end">{{data.start | date:'MMM yyy'}} - Present | {{ timeString() }}</p>
        <p *ngIf="!data.event && data.end">{{data.start | date:'MMM yyy'}} - {{data.end | date:'MMM yyy'}} | {{ timeString() }}</p>
        <p *ngIf="!data.event && data.employmentType">{{data.employmentType}}</p>
    </div>

    <p class="body">{{data.description}}</p>

    <div class="links" *ngIf="data.links">
        <a *ngFor="let link of data.links" [href]="link.url" target="_blank" rel="noopener noreferrer">{{link.text}}</a>
    </div>

    <div class="images" *ngIf="data.images">
        <img *ngFor="let image of data.images; let i=index" [src]="image.thumb" (click)="open(i)" [alt]="image.caption" />
    </div>
</li>