.timeline-entry {
    // border-left: solid 6px white;
    border-left: solid 6px #e9ba2e;
    // padding-left: 30px;
    // background-color: lighten(#211d80, 20%);
    margin-bottom: 25px;
    
    .content {
        background-color: white;
        padding: 25px;
    }

    .point {
        position: relative;
        left: -43px;
        top: 30px;
    }

    p, h3 {
        margin: 0;
        color: black;
    }

    img {
        height: 32px;
        width: auto;
    }
}