<div class="timeline-entry">
    <!-- <svg class="point" width="20" height="20">
        <circle cx="10" cy="10" r="8" stroke="#e0bd2a" stroke-width="0" fill="#211d80"/>
    </svg> -->
    <div class="content">
        <div class="title">
            <img [src]="data.logo" alt="Logo">
            <h3>{{data.title}}</h3>
        </div>
        <div class="body">
            <p>{{data.description}}</p>
        </div>
    </div>

</div>
<!-- <div class="timeline-entry">
    <img (src)="data.logo" alt="Logo">
    <h3>{{data.title}}</h3>
    <p>{{data.description}}</p>
</div>  -->