@import "../../../../src/variables.scss";

.timeline-entry {
    background-color: white;
    padding: 25px;

    &.primary {
        border-color: $secondary;
    }

    &.secondary {
        border-color: $tertiary;
    }

    &.tertiary {
        border-color: $secondary;
    }

    border-left: solid 6px $secondary;
    margin-bottom: 25px;
    
    .title {
        img {
            height: 32px;
            width: auto;
        }
    }

    .body {
        margin-top: 10px;
    }

    p, h3 {
        margin: 0;
        color: black;
    }

    .links {
        margin-top: 10px;

        a {
            display: inline;
            padding-right: 15px;
        }
    }

    .images {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        
        img {
            height: 150px;
            width: 150px;
            object-fit: scale-down;
            background-color: #f4f4f4;
        } 
    }
}