@import "../../variables.scss";

ul {
    padding: 0;
    list-style-type: none;
}

.primary {
    background-color: $primary;

    h2 {
        @supports (text-decoration-thickness: 5px) {
            text-decoration-color: $secondary;
        }

        @supports not (text-decoration-thickness: 5px) {
            border-color: $secondary;
        }
    }
}

.secondary {
    background-color: $secondary;

    h2 {
        color: black;

        @supports (text-decoration-thickness: 5px) {
            text-decoration-color: $tertiary;
        }

        @supports not (text-decoration-thickness: 5px) {
            border-color: $tertiary;
        }
    }
}

.tertiary {
    background-color: $tertiary;

    h2 {
        @supports (text-decoration-thickness: 5px) {
            text-decoration-color: $secondary;
        }

        @supports not (text-decoration-thickness: 5px) {
            border-color: $secondary;
        }
    }
}

section {

    background-color: $tertiary;
    padding: 50px;

    .content {
        max-width: 900px;
        margin: auto;
    }

    h2 {
        @supports (text-decoration-thickness: 5px) {
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-color: $secondary;
            text-decoration-thickness: 5px;
        }

        @supports not (text-decoration-thickness: 5px) {
            display: inline-block;
            border-bottom: solid 5px $secondary;
        }
    }
}

@media (max-width: 900px) {
    section {
        padding: 25px 25px;
    }
}