/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,400;1,900&display=swap');

body {
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    color: white;
}

p {
    font-family: 'Open Sans', sans-serif;
}